*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR STYLE START  */
nav{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo img{
    width: 280px;
}
.address{
    font-size: 1rem;
}
.side-btn input{
    color: black;
    width: 98px;
    font-weight: bold;
    border: none;
}
.side-btn button{
    padding: 10px 28px;
    border: none;
    border-radius: 6px;
    background-color: #FFFFFF;
    color: #ffb700;
    font-weight: 700;
    box-shadow : #ffb700c2 0px 3px 8px;
    cursor: pointer;
}
/* NAVBAR STYLE CLOSE */

/* BODY STYLE STRAT  */
.container-1{
    background:linear-gradient(to bottom , yellow,#ffb700);

}
/* SECTION_1 STYLE START  */
.sec-1{
    width: 80vw;
    margin: auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sec-1 .content>h1{
    font-family: arial black;
    font-size: 40px;
    color: #ffffff;
    
    
}
.form {
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    color: #ff5e00;
    max-width: 556px;
    width: 150%;
    margin-top: 20px;

}
.form{
    border-bottom: 1px solid rgba(145, 134, 134, 0.425);
    padding: 15px;

}
.btns button{
    font-weight: bold;
    margin-right: 10px;
    height: auto;
    padding: 6px 19px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 186, 146, 0.568);
    color: #ff5e00;
    cursor: pointer;

}
.form-input{
    padding: 5px;
}
.form-input input{
    width: 70%;
    height: 35px;

}
.form-input button{
    width: 21%;
    height: 35px;
    margin: 10px;
    background-color: #ff5e00;
    color: #ffffff;
    
    border: none;
    border-radius: 10px;

}

.sec-1 img{
    display: flex;


}

/* SECTION_1 STYLE END  */

/* SECTION-2 STYLE START  */
.sec-2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    margin:  50px auto;
}
.cards img{
    max-width: 250px;
    height: auto;
    border: none;
    border-radius: 10px;
}   
.cards p{
    line-height: 42px;
}


/* SECTION-2 STYLE END  */

/* SECTION-3 STYLE START  */
.sec-3_bg{

    background: linear-gradient(180deg, rgba(255, 206, 103, 0.22) -42.47%, rgba(253, 237, 202, 0) 100%);
}
.sec-3{
    width: 80vw;
    margin: 40px auto;
    padding: 50px 0px;
    
    
}
.sec-3 h2{
    display: flex;
    justify-content: center;
    color: #F17228;
    font-weight: 700px;
}
.sec-3 .sec-icon {
    padding: 40px 0px;
    text-align: center;
    display: flex; 
    justify-content: space-between;
    
}
.sec-3 .sec-icon .icon_1{
    width: 250px;
    line-height: 20px;

    

}
/* SECTION-3 STYLE END  */

/* BODY STYLE Close  */